body {
    font-family: Arial, sans-serif;
}

form {
    width: 40%;
    margin: 0 auto;
    background-color: #c7c7c7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

form div
{
    padding: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0)  ;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color : #ffffff;
}


#botonDeDatosEmprendimiento, #botonDatosTaller, #cargarDatos {
    background-color: #4285F4;
    color: white;
    padding: 20px 120px;
    margin-top: 6%;
    margin-bottom: 6%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}
#btVerDireccion , #addRedSocial , #addFormasPago{
    display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

}
#guiaDireccionLocal, #guiaDireccionTaller{
    color: red;
}
#map { 
    position: fixed; top: 60%; right: 100px;transform: translateY(-50%);width: 300px;height: 300px; }


.SearchJobs_NavBar
{
    background-color: #868282;
    height: 120px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 3;
}

.SearchJobs_IconPage
{
    width: 80px;
}
.btnRegisterRedirect a{
    color: white;
}
