<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="shortcut icon" href="img/logo.png">
        <title>MotorheadLab</title>
    </head>

    <body>

        <div class="container">

            <div class="navbar">
                    <a href="/index"><img src="img/logo.png" class="logo" alt="Main Logo"></a>
                <ul>

                    <li><a href="#quienes-somos">QUIENES SOMOS </a></li>
                    <li><a href="#contacto">CONTACTO </a></li>
                    <li><a  href="login.html">INICIAR SESIÓN </a></li>
                    
                    <li>
                        <div>

                           <button   class="boton-registro" data-bs-toggle="modal" data-bs target="#exampleModal" data-bs-whatever="@mdo" B><a href="registro.html">QUIERO DONAR</a></button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">


                                        <section class="form-register" >
                                            <div class="modal-header">

                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form th:action="@{/usuario/index}" method="POST" enctype="multipart/form-data">


                                                <p th:if="${error != null}" th:text="${error}" class="text-danger"></p>
                                                

                                                <div class="input_container">
                                                    <input class="controls" type="text" name="nombre"  placeholder="Nombre">
                                                    <input class="controls" type="text" name="apellido"  placeholder="Apellido"> 
                                                </div>
                                                <div class="input_container">
                                                    <input class="controls" type="email" name="email"  placeholder="Correo Electronico">
                                                    <input class="controls" type="password" name="password"  placeholder="Contraseña">
                                                </div>

                                                <div class="input_container">
                                                    <input class="controls" type="text" name="telefono"  placeholder="Telefono"> 
                                                    <input class="controls" type="text" name="dni"  placeholder="Documento">
                                                </div>

                                                <label class="form-idioma"> <strong>País:</strong></label>
                                                <select name="pais" class="controls">
                                                    <option th:each="pais : ${T(com.proyectoFinal.enums.Pais).values()}"    th:value="${pais}"
                                                            th:text="${pais.displayValue}" </option>
                                                </select>

                                                <input class="controls" type="text" name="region" id="region" placeholder="Region">
                                                <p><a href="#">Terminos y Condiciones</a></p>
                                                <div class="d-grid gap-2 col-6 mx-auto">
                                                    <button type="submit" class="btn btn-primary">Registrar</button>
                                                </div>
                                                <p><a href="/login">¿Ya estas registrado? </a></p>

                                            </form>
                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>




            </div>


        </div>

        <div class="slidershow middle">

            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">

                <div class="slide s1">
                    <img src="img/labo1.png" alt="">
                </div>
                <div class="slide">
                    <img src="img/labo2.png" alt="">
                </div>
                <div class="slide">
                    <img src="img/labo3.png" alt="">
                </div>

            </div>

            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>

            </div>
        </div>

        <div class="texto-uno">
            <span>T</span>
            <span>R</span>
            <span>A</span>
            <span>N</span>
            <span>S</span>
            <span>F</span>
            <span>O</span>
            <span>R</span>
            <span>M</span>
            <span>A</span>
            <span>N</span>
            <span>D</span>
            <span>O</span>
            <span>&nbsp</span>
            <span>D</span>
            <span>O</span>
            <span>N</span>
            <span>A</span>
            <span>C</span>
            <span>I</span>
            <span>O</span>
            <span>N</span>
            <span>E</span>
            <span>S</span>
            <span>&nbsp</span>
            <span>E</span>
            <span>N</span>
            <span>&nbsp</span>
            <span>D</span>
            <span>E</span>
            <span>S</span>
            <span>C</span>
            <span>U</span>
            <span>B</span>
            <span>R</span>
            <span>I</span>
            <span>M</span>
            <span>I</span>
            <span>E</span>
            <span>N</span>
            <span>T</span>
            <span>O</span>
            <span>S</span>
        </div>



        <div class="marquesina">
            <marquee direction="leftt">
                <p>Contactate con nosotros al (+54911)5253-992288 o al (+54911)5253-903248. No te pierdas
                    el Beneficio!!! </p>
            </marquee>
        </div>

        <div class="contenedor-tres">

            <section class="aboutus" id="quienes-somos">

                <img src="img/sobreNosotros.png">

                <div class="fuente-aboutus">
                    <h3> Sobre Nosotros</h3>
                    <p> Bienvenidos a MotorheadLab, un innovador laboratorio ubicado en Argentina dedicado a la recolección y análisis de donaciones de orina. En MotorheadLab, nos especializamos en la obtención y tratamiento de muestras de orina para una variedad de estudios científicos y médicos, contribuyendo al avance de la investigación y a la mejora de la salud pública.
                    </p>
                </div>


            </section>

            <div class="card">
                <div class="face front">
                    <img src="img/transportistas.png" alt="">
                    <h3>Transportistas</h3>
                </div>
                <div class="face back">
                    <h3>Transportistas</h3>
                    <p>Trabajamos con empresas de transporte en todo el pais!
                    </p>
                    <div class="link">
                        <a href="#">Leer mas...</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face front">
                    <img src="img/visitadora.png" alt="">
                    <h3>Visitadoras</h3>
                </div>
                <div class="face back">
                    <h3>Visitadoras</h3>
                    <p>Tenemos el sistema mas morderno en el mercado para nuestras visitadoras.

                    </p>
                    <div class="link">
                        <a href="#">Leer mas...</a>
                    </div>
                </div>
            </div>



        </div>

        <div class="contenedor-cuatro">
            <section class="aboutus" id="quienes-somos">

                <img src="img/nuestraMision.png">
                <div class="fuente-aboutus">
                    <h3> Nuestra Misión</h3>
                    <p> Somos un Instituto de Estudios Avanzados impulsado por la exigencia y una plataforma para el cambio. 
                        Nuestra misión es desarrollar visiones para sociedades fundamentalmente reconfiguradas. 
                        Combinamos el rigor académico y la práctica innovadora para inspirar, promover e implementar el cambio
                        social. Cerraremos la brecha entre la comprensión y la acción, reuniendo a académicos de diferentes
                        disciplinas y profesionales como activistas, políticos, periodistas, artistas y empresarios.
                  
                    </p>
                </div>


            </section>

            <div class="card">
                <div class="face front">
                    <img src="img/donador.png" alt="">
                    <h3>Donadores</h3>
                </div>
                <div class="face back">
                    <h3>Donadores</h3>
                    <p> Se parte de nuestra comunidad de donadores.
                    </p>
                    <div class="link">
                        <a href="#">Leer mas...</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face front">
                    <img src="img/beneficios.png" alt="">
                    <h3>Beneficios</h3>
                </div>
                <div class="face back">
                    <h3>Beneficios</h3>
                    <p>Siendo parte de nuestra comunidad de donadores obtendras algunos beneficios.
                        <br>
                        Enterate de las Novedades!

                    </p>
                    <div class="link">
                        <a href="#">Leer mas...</a>
                    </div>
                </div>
            </div>
          

        </section>
    </div>


    <footer class="pie-pagina">

        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="img/logo.png" alt="logo1"> </a>
                </figure>
            </div>

            <div class="box" id="contacto">
                <h2>DONDE ESTAMOS</h2>
                <p>Av. de Los Idiomas 803 - CABA - ARGENTINA </p>
                <h2>CONTACTANOS</h2>
                <p>(+54911)5253-992288</p>
                <h2>SECRETARIA ACADEMICA</h2>
                <p>(+54911)5253-903248</p>

            </div>

            <div class="box">
                <h2>SEGUINOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <samll>&copy; <b>MotorheadLab ® </b> - Todos los Derechos Reservados.</samll>


        </div>
    </footer>


    <script src="
            https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</body>

</html>
